@if ( heroesBorrados.length > 0 ) {
<h3>Listado de Heroes borrado</h3>
}@else{
<span>No ha borrado nada</span>
}


@for (heroesBorrado of heroesBorrados; track $index) {
<ul>
  <li>{{heroesBorrado}}</li>
</ul>
}

<h3>Listados de heroes</h3>

@for (heroe of heroes; track heroe; let i = $index) {
<ul>
  <li>{{i + 1}}: {{heroe}}</li>
</ul>
}@empty {
<span>La lista esta vacia</span>
}

<input #myInput (keyup.enter)="agregarHeroe()" type="text" [(ngModel)]="nuevoHeroe"
  placeholder="Ingrese un nuevo héroe">
<button (click)="agregarHeroe()">Agregar</button>
<button (click)="borrarHeroe()" [disabled]="heroes.length === 0">Borar</button>

<!--
  ng-template.- ya no es nesesario, solo usando el @if(){}@else
  - ver video 19
-->

<!-- ver video 21 -->