<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencia($event)" placeholder="Buscar por pais" />
  </div>
</div>

@if (mostrarSugerencia) {

<ul class="list-group">
  @for (pais of paisesSugeridos; track $index) {
  <li class="list-group-item list-group-item-action list-group-item-light">
    <a class="nav-link" [routerLink]="[ '/pais-app/pais', pais.cca2]">
      {{pais.name.common}}
    </a>
  </li>
  }

  <li class="list-group-item list-group-item-action list-group-item-primary" (click)="onBuscarSugerido(termino)">
    <a class="nav-link">
      <strong>Buscar:</strong> "{{termino}}"
    </a>
  </li>
</ul>

}

<hr>
@if (error) {
<div class="alert alert-danger">
  No se encontró nada con el término {{termino}}
</div>
}@else if (paises.length > 0){
<div class="row">
  <div class="col">
    <app-pais-tabla [resultados]="paises" />
  </div>
</div>
}